<h3 class="title is-4">Customers Ordered Alphabetically</h3>

<div>
  <%= link_to 'All Customers', root_path %>
  <%= link_to 'Customers Missing Email', missing_email_customers_path %> |
</div>

<% @customers.each do |customer| %>
  <%= render partial: "customer", locals: { customer: customer } %>
<% end %>